- let titlePage = "Home";
include layout/index
block content
  header
    nav
      ul(class="flex justify-end flex-row")
        li(class="mx-1 p-2")
          a(href="/signin") Signin
        li(class="mx-1 p-2")
          a(href="/signup") Signup
  h1(class="text-3xl text-center") Bienvenido al home
