- let titlePage = "Login";
include layout/index
block content
  h1(class="text-center text-3xl mt-1") Bienvenido al Login
  form(action="/login" method="post" class="p-3 flex flex-col w-96 mx-auto")
    label(for="email") Correo electronico: 
    input(type="text" placeholder="Escribe tu correo electronico" name="email" class="border-2 border-blue-400 rounded pl-1")
    label(for="password") Contraseña: 
    input(type="password" placeholder="Escribe tu contraseña" name="password" class="border-2 border-blue-400 rounded pl-1")
    button(type="submit" class="bg-blue-400 rounded text-white w-max px-5 py-2 mx-auto mt-2 font-semibold") Enviar